<h2><%= @retailers.name %></h2>
<h3><%= @retailers.boxes %></h3>
<h3><%= @retailers.user_id%></h3>

<h5><a href="/retailers/<%= @retailers.id %>/edit">Edit Retailer</a></h5>


<form method="POST" action="/retailers/<%=@retailers.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>